.border {
    border: 1px solid teal;
    box-sizing: border-box;
    margin: 0px auto;
}

/* Header Section Start */
header {
    height: 150px;
    width:  90%;
}
/* Header Section End */

/* Nav Section Start */
nav {
    height: 60px;
    width:  90%;
}
/* Nav Section End */

/* Main Section Start */
main {
    height: 600px;
    width:  90%;
}
/* Main Section End */

/* Content Section Start */
section {
    height: 100%;
    width: 70%;
    float: left;
}
/* Content Section End */

/* Article Section Start */
article {
    height: 50%;
    width: 100%;
}
/* Article Section End */

/* Aside Section Start */
aside {
    height: 100%;
    width: 30%;
    float: left;
}
/* Aside Section End */

/* Footer Section Start */
footer {
    height: 60px;
    width:  90%;
}
/* Footer Section End */